﻿body 
{
    background-color:Black; 
    color:White; 
    font-size:8pt;  
    font-family:Helvetica, Arial;
    outline-color:White;
    outline-width:0px;        
}

.resumetext
{
    font-size:8pt;
    font-family:Arial;
}

.hNav { font-size:8pt; }

.container { width:320px; }

.error 
{  
    color:#ff0000; 
    font-size:8pt;
}

.Heading { font-size:8pt; }

.button 
{ 
    color:#FFFFFF; 
    font-size:8pt; 
    background-color:#3CB878;
}

