﻿
/* Global styles 
----------------------------------------------------------*/
html 
{    
    margin: 0;
    padding: 0;	
}

body 
{
    background-color:black;
    color:White; 
    font-size:12pt;  
    font-family: "Segoe UI", Arial, Helvetica, Sans-Serif;
    outline-color:White;
    outline-width:0px; 
}

a
{
    color:orange;
    text-decoration:none;
}
	a:hover
	{
		color:orangered;
	}

p
{
	padding-left:5px;
	padding-right:5px;
}

h3
{
	font-size:1.2em; 
	font-weight:bold;
}

/* Top nav heading & sub heading (same across all pages) 
----------------------------------------------------------*/
#heading_Nav
{
	color:white;
	font-family: "weblysleek_uilight";
    font-size:4em;
	margin-bottom: .5em;
    margin-left: .1em;
	margin-top: 0em;
	position:relative;
    z-index:9999;
}
	#heading_Nav a
	{
		color:white;
	}
#subHeading
{
	margin-top:-.5em;
	margin-bottom:-.5em;
	font-size:.5em;
	color:orange;	
}

@media (max-width:730px)
{
	#heading_Nav
	{
		font-size:3.5em;
	}
}

@media (max-width:400px)
{
	#heading_Nav
	{
		font-size:3em;
	}
}

/* Top nav menu 
----------------------------------------------------------*/
#topMenu
{
	margin-bottom:0;
	margin-left:.5em;
	padding:0;
}
	#topMenu li
	{
		display:inline;
		list-style-type: none;
		padding-right:20px;
		font-size: 1.25em;
	}
		#topMenu li a
		{
			color:white;
		}

#webDevLink:hover
{
	color:#99FF33;
}
#musicLink:hover
{
	color:#66CCFF;
}
#gameDevLink:hover
{
	color:#FF66CC;
}
#politicalLink:hover
{
	color:#f69c08;
}
#contactLink:hover
{
	color:#FFFF00;
}

@media (max-width:730px)
{
	#topMenu li
	{
		font-size:1em;
	}
}

/* Body bg around main content area 
----------------------------------------------------------*/
#outer-container
{
    z-index: 1;
    
    background-repeat: repeat;
        
    animation: animatedBackground 90s linear infinite;    
     -webkit-animation: animatedBackground 90s linear infinite;
}

@media (max-width:625px)
{
	#outer-container
	{
		animation: none;
        -webkit-animation: none;
	}
}

/* Main content area 
----------------------------------------------------------*/
#main-content
{
    -webkit-box-shadow:0px 0px 18px #47D147; 
    -moz-box-shadow: 0px 0px 18px #47D147; 
    box-shadow:0px 0px 18px #47D147; /* Gray - #969696 | Dark Blue - #253c99 | Lighter Blue - #5163AD */
    padding: 0px 0px 0px 0px; /*top, right, bottom, left */

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    
    position:relative;
    margin-left:auto;    
    margin-right:auto;
    margin-top:2%;

    z-index:10;
        
    background-color: #555;

    clear: both;
    padding: 10px;

	width:55%;
    min-width:350px;
    max-width:950px;
}

@media (max-width:400px)
{
	#main-content
	{
		padding:2px;
		margin:0;

		-webkit-box-shadow: 0px 0px 0px; 
		-moz-box-shadow: 0px 0px 0px; 
		box-shadow: 0px 0px 0px;

		border: 0;
        border-radius: 0px;

		width: 100%;
	}
}

/* Responsive images
----------------------------------------------------------*/
img 
{
    max-width:100%;
}

/* Styles for Default - 'Metro' style
----------------------------------------------------------*/
@-webkit-keyframes animatedBackground 
{
	0% { background-position: 0 0; }
	100% { background-position: -100% -100%; }
}

@keyframes animatedBackground 
{
	0% { background-position: 0 0; }
	100% { background-position: -100% -100%; }
}

#container_bg
{               
    z-index:1;
        
    background-image: url('../Images/bg/starbg2.jpg');
    background-repeat: repeat;
        
    animation: animatedBackground 90s linear infinite;    
     -webkit-animation: animatedBackground 90s linear infinite;    
}

    #container_bg svg
    {
          min-width: 100%;
          min-height: 100%;
          border-radius: 0px;          
    }

#main-content_Default
{    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
	color:white;
	clear: both;    
	font-family: 'weblysleek_uilight', sans-serif;
    margin-left:auto;    
    margin-right:auto;
    margin-top:5%;
    max-width:80%;
    max-height:80%;        
    min-width:80%;
    min-height:600px;
    padding: 0px 0px 0px 0px; /* top, right, bottom, left */
    position:relative;
    z-index:10;
}
    #main-content_Default img
    { /* Medium */
        max-width:138px;
            width:138px;            
    }
        #main-content_Default img:hover
        {
            cursor:pointer;           
            opacity:.9;            
        }
        #main-content_Default img.smallIcon
        { /* Small */
            max-width:64px;
				width:64px;   
				margin:1px;         
        }
        #main-content_Default img.largeIcon
        { /* Large */
            max-width:256px;
                width:256px;
            
            max-height:296px;
                height:296px;
        }

#heading_Default
{
	color:white;
    font-family: "weblysleek_uilight";
    font-size:4em;
    margin-left:2em;
    margin-top:.5em;
	position:relative;
    z-index:9999;
}


.colHeading
{
	font-size:2em;
}

#leftColumn, #midColumn, #rightColumn
{
    float:left;
    margin-right:2em;
}

.iconsTable td, .iconsGrid .col
{
	vertical-align:top;        
	padding:0;
}

.iconsGrid
{ 
	display: grid; 
	grid-template-columns: 143px 143px;
	grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0rem;
}
/* Small */
.iconsGrid div.col-sm
{
	grid-column-start: span 1;
	grid-row-start: span 1;
}
/* Medium */
.iconsGrid div.col-md
{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
/* Large */
.iconsGrid div.col-sm
{
	grid-column-start: span 4;
	grid-row-start: span 4;
}

@media (max-width:730px)
{
	#heading_Default
	{
		font-size:3em;
		margin-left:1em;
	}

	#main-content_Default img.largeIcon
	{
		width:192px;
	}
}

@media (min-width:401px) 
{
    #mobileTable, #mobileGrid { display: none; }
}
@media (max-width:400px)
{
	#heading_Default
	{
		font-size:2.5em;
	}	

	#leftColumn, #midColumn, #rightColumn
    {
        display:none;
    }

	/* Mobile-friendly table/grid for front page on small screens */
	#mobileTable, #mobileGrid
    {
        display:block;
        max-width:300px;
        margin:auto;
    }
        #mobileTable table, #mobileGrid .main
        {
            width:300px;
        }
        #mobileTable img, #mobileGrid img
        {
            width:128px;
			height:128px;
		}
		#mobileGrid .row .col { width: 50%; }
        #mobileTable tr td:first-child, #mobileGrid .row .col:first-child
        {
            margin-right:0;
            padding:0;
        }
        #mobileTable tr td:nth-child(2), #mobileGrid .row .col:nth-child(2)
        {
            margin-left:0;
            padding:0;
        }
}
/* WebDev & Political
----------------------------------------------------------*/

.webDevHR
{
	border-color:#47D147;
}

/* Side menu on longer pages */
#sideMenu {
    position:fixed;
    right:0;
    bottom:20%;
    width:18%;
    
    opacity:.9;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;

    background: #333;
}
    #sideMenu li
    {
        list-style: none;        
        padding:3px;
    }
        #sideMenu li a
        {
            margin-left: -1em;   
			color: #47D147;         
        }
			#sideMenu li a:hover
			{
				color:orangered;
			}
		#sideMenu li img
		{
			margin-right:.5em;
		}
        #sideMenu li > a > img
        {
            vertical-align: middle;
        }

/* Close and show buttons on top menu when page has a smaller size */
#closeexpand-btn 
{  
  position:fixed;
  top:0;
  left:0;

  margin-top:.25em;
  margin-left:.5em;

  z-index:99999;

  width:40px;
  height:40px;
  
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  opacity:.9;
  
  border-radius: 5px;
}

.closeexpand-btn-close
{
	background: #333333 url("../Images/close-btn.png") center center no-repeat;
}

.closeexpand-btn-expand
{
	background: #333333 url("../Images/expand-btn.png") center center no-repeat;
}

#closeexpand-btn:hover {  
	cursor:pointer;
	background-color:purple;
	opacity: 1;
}


/* Text paragraphs */
.webDev
{
	padding:5px 10px 5px 10px;
}

/* Divs with a right-floating image */
.politicalRightImage
{
	padding: 5px;
	padding-top: 1em;
	margin-bottom: 45px;
	margin-top: 20px;	
}
.politicalRightImage img { max-width: 300px; padding: 20px; }
.webDevRightImage
{
	min-height:525px; 
	padding:5px;
	margin-top:20px;	
}
	.webDevRightImage img, .politicalRightImage img
	{
		padding-left:10px;
	}

@media (max-width:1250px)
{
	#sideMenu
	{
		width:22%;
	}
}

@media (max-width:1025px)
{
	#sideMenu
	{
		width:23%;
	}

	.webDevRightImage img, .politicalRightImage img
	{
		float: none !important;
		margin: auto;
	}
	.politicalRightImage img
	{
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media (max-width:800px)
{
	#sideMenu
	{
		/* Reset when expanding view from smaller size */
		bottom:20%;
		top:initial;
	}

	#sideMenu li
	{
		font-size:.8em;		
	}
}

@media (min-width:626px)
{
    #closeexpand-btn
	{
        /* Reset when expanding view from smaller size */
		display:none;
	}
}

@media (max-width:625px)
{
	#sideMenu 
	{
		top:0;		
		width:100%;
		height:11.5em;
		z-index:9999;		
	}
		#sideMenu ul
		{
			margin:0;
			margin-left:20px;
		}
		#sideMenu li
		{
			display:block;
			margin-right:20px;
			margin-left:2em;

			float:left;
			width:35%;
		}           

		#closeexpand-btn
		{
			display:block;
		}
}

@media (max-width:485px)
{
	#sideMenu
	{
		height: 20em;
	}
		#sideMenu li
		{			
			width:100%;
            float:none;
            font-size: 1em;
		}
	
	.webDevRightImage
	, .webDevRightImage img
	, .politicalRightImage
	, .politicalRightImage img
	{
		padding:0;
	}

	#emailLogosDiv span a, #resumeDownload span a
	{
		opacity: 1 !important;
	}
}

/* Before/After in front-end section gallery */
#baButton
{
	float:left; 
	margin-left:12%; 
	margin-right:12%; 
	width:25%; 
	
	color:#59D659; 
	background-color:#2D3434; 
	border-color:#59D659; 
	border:1px solid;

	font-weight:bold;
	font-size:10pt; 
	cursor:pointer;
}

#baIntro
{
	font-style:italic; 
	font-size:.9em; 
	text-align:left; 
	padding-left:10px;
}

@media (max-width:1120px)
{
	#baButton
	{
		margin-left:3px;
		margin-right:3px;
	}
}

/* Accordion elements */
.acc_container
    {                
    width:100%;
    clear:both;            	
    }
.acc_trigger
{
	padding-left:10px; 	
	font-weight:bold; 
	text-align:left;
}

/* Development Environments bulleted list */
#devEnvList
{
    list-style-type:square;
}
    #devEnvList li
    {
        margin-bottom: 5px;
    }

/* Email Marketing section */
.roundedImage
{	
	border-radius:50px;
}

#emailLogosDiv
{
	width:100%;
	text-align:center;
}
	#emailLogosDiv span
	{
		margin:auto;
	}
		#emailLogosDiv span a
		{
			padding-right:20px;
			opacity: .8;			
		}
			#emailLogosDiv span a:hover
		{
			opacity: 1;
		}
	#informzImg
	{
		padding-bottom:50px;
	}

#resumeDownload
{
	width:100%;
	text-align:center;	
}
	#resumeDownload span
	{
		margin:auto;
	}
		#resumeDownload span a
		{
			padding-right:20px;
			opacity:.8;
		}
			#resumeDownload span a:hover
			{
				opacity:1;
			}

.resumeDownloadImage
{
	width:128px;
}

@media (max-width:860px)
{
	.resumeDownloadImage
	{
		width:64px;
	}
	#emailLogosDiv img
	{
		width:64px;
	}
	#informzImg
	{
		padding-bottom:0px;
	}
}

/* GameDev
----------------------------------------------------------*/

.gameDevHR
{
	border-color:yellow;
}

@media (max-width:1175px)
{
	.gamedevEmbed
	{
		width: 500px;
		height: 245px;
	}
}

@media (max-width:925px)
{
	.gamedevEmbed
	{
		width: 400px;
		height: 245px;
	}
}

@media (max-width:740px)
{
	.gamedevEmbed
	{
		width: 250px;
		height: 250px;
	}
}

/* DJ
----------------------------------------------------------*/
.djHR
{
	border-color:#FD473C;
}

#mixesTable, #pastEventsTable
{
	margin:auto;
}
	#mixesTable td, #pastEventsTable td
	{
		padding:10px;
	}

.centerMix,
.centerMix p.embedMixP
{
	text-align:center;
	margin:auto;
}

@media (max-width: 1175px)
{
	#mixesTable td
	{
		padding:0;
	}
}

@media (max-width: 1135px)
{	
	#mixesTable td
	{
		width:200px;
	}
	.embedMix
	{
		width:200px;
		height:200px;
	}
	.embedMixP, .embedMixD
	{
		width:200px !important;
	}
}

@media (max-width: 800px)
{
	#mixesTable
	{
		margin:0;
		margin-left:-10px;	
	}
	#mixesTable td
	{
		width:185px;
	}
	.embedMix
	{
		width:185px;
		height:185px;
	}
	.embedMixP, .embedMixD
	{
		width:185px !important;
	}
}

@media (max-width: 650px)
{	
	#mixesTable
	{
		margin:0;
		margin-left:-10px;	
	}
	#mixesTable td
	{
		width:175px;
	}
	.embedMix
	{
		width:175px;
		height:175px;
	}
	.embedMixP, .embedMixD
	{
		width:175px !important;
	}
}

@media (max-width: 625px)
{
    .djSideMenu
	{
		height:7em !important;	
	}
		.djSideMenu li
		{
            font-size: 1em !important;			
            float: none !important;
		}
}

@media (max-width: 485px)
{
	.djSideMenu li
	{
		margin-right:0px !important;
	}
}

@media (max-width: 400px)
{
	#mixesTable
	{
		margin:0;
		margin-left:-10px;	
	}
	#mixesTable td
	{
		padding:0 !important;
		width:165px;
		vertical-align:top;
		border-spacing:0px;
	}
	.embedMix
	{
		width:165px;
		height:165px;
	}

	.embedMixP, .embedMixD
	{
		width:165px !important;
	}
}

/* Styles for banner ads
-----------------------------------------------------------*/
.banner-ad {
    margin: 10px;
    border: 1px dashed white;
    background-color: #444;
    min-height: 60px;
}

/* Styles for JS Galleries 
-----------------------------------------------------------*/

/* Gallery buttons */
.prevButton {  	
	float:left;
	width:25%;
	
	color:Teal; 	
	background-color:#2D3434; 
	border: 1px solid Teal;
	
	font-size:10pt; 
	cursor:pointer;
}

.nextButton {  			
	float:right; 
	width:25%; 
	
	color:Red; 
	background-color:#2D3434;	
	border:1px solid Red;

	font-size:10pt; 
	cursor:pointer;
}

/* Other Gallery elements */
.galleryCaption
{
	border:1px solid white; 
	padding:20px; 
	text-align:left;
	overflow-wrap:break-word;
}
	.galleryCaption a
	{
		overflow-wrap:break-word;
	}

.galleryCurImage
{
	margin:auto; 
	max-width:575px; 
	max-height:575px; 

	min-width:350px;
	min-height:350px;
	border:0;
}

.galleryDiv
{
	max-width: 600px; 
	max-height: 900px;

	min-width:350px;
	min-height:350px;

	margin:auto; 
	text-align:center; 
	padding-bottom:10px;
}

@media (max-width:1120px)
{
	.nextButton
	{
		float:left;
	}
}

/* Misc
-----------------------------------------------------------*/

/* For side menus that only have a back to top button */
@media (max-width: 625px)
{
    .topButtonMenu
	{
		height:3em !important;	
	}
		.topButtonMenu li
		{
            font-size: 1em !important;			
            float: none !important;
            margin-top: .5em;
		}
}

@media (max-width: 485px)
{
	.topButtonMenu li
	{
		margin-right:0px !important;
	}
}

/* This is the necessary fix for the "jump" issue on image changes. */
/*
	I tried pre-loading the gallery images through CSS, but that did not work.
	I then tried re-sizing all of the images to 575x575, but the gallery still checks for new dimensions and has a small jump when switching.
	The gallery needs a set width/height in order to keep from calculating height on each image load, but I can't set a hard width/height on all screen widths
	if I want the page to be responsive and keep the gallery elements visible.
*/
@media (min-width:1023px)
{
    .galleryCurImage
	{
		width:575px;
		height:575px;
	}
}