﻿/* Top menu */
#top-nav
{
	/* http://css-tricks.com/forums/topic/how-can-we-create-a-sticky-top-navigation-menu/ */
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:99;
	
	background-color:#393939;
	opacity:0.8;
	height:3em;
}

#top-nav ul
{
	list-style-type: none;
	margin:0;
	padding:1em 0em 0em 0em;	
}

#top-nav ul li
{
	display:inline;
}

#top-nav ul li a 
{
	text-decoration: none;
	font-weight: bold;
	font-size:1.2em;
	padding: .2em 1em;
	color: #FFF;
}

#top-nav ul li a:hover 
{	
	color: #FF33CC;
}

/* Middle logo image */
#logo_nav
{	
	background-image:url('2FD_Logo.png');
	background-color:#393939;
	opacity:0.5;
	border-radius:15%;
	position:fixed;
	overflow:hidden;
	width:300px;
	height:300px;	
	top:50%;
	left:50%;	
	margin-top:-150px;
	margin-left:-150px;
	z-index:99;	
}

#logo_nav:hover
{
    background-image:url('2FD_Play_Button.png');
    cursor:pointer;
}

/* Middle logo image while song is playing */
#logo_nav_pause
{	
	background-image:url('2FD_Logo.png');
	background-color:#393939;
	opacity:0.5;
	border-radius:15%;
	position:fixed;
	overflow:hidden;
	width:300px;
	height:300px;	
	top:50%;
	left:50%;	
	margin-top:-150px;
	margin-left:-150px;
	z-index:99;
}

#logo_nav_pause:hover
{
    background-image:url('2FD_Pause_Button.png');
    cursor:pointer;
}

/* Middle logo image after song has finished */
#logo_nav_restart
{
	background-image:url('2FD_Logo.png');
	background-color:#393939;
	opacity:0.5;
	border-radius:15%;
	position:fixed;
	overflow:hidden;
	width:300px;
	height:300px;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-150px;
	z-index:99;
}

#logo_nav_restart:hover
{
    background-image:url('2FD_Restart_Button.png');
    cursor:pointer;
}

/* Area where the EQ will appear */
#songcanvas
{
	/* Set rules to fill background */
	min-height: 95%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	bottom: 0;
	left: 0;

	background-color:Black;
	z-index:0;
}

/* Background image styles */
#bg
{
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	bottom: 0; 
	left: 0;
  
    background-color: black;
    background-image:url('Midcity_Cafe1920w.jpg');
	z-index:0;

    /* Stretch on larger displays */
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size: 100% 100%;
}
