<div id="heading_Nav">
    <a href="index.html">
        Mike Huttman       
        <p id="subHeading">Official Site</p>
    </a>
</div>

<ul id="topMenu">
    <li><a id="webDevLink"  href="Tech.html">Tech</a></li>
    <li><a id="musicLink"   href="DJ.html">Music</a></li>
    <li><a id="gameDevLink" href="GameDev.html">Games</a></li>
    <li><a id="politicalLink" href="Political.html">Political Data</a></li>
    <li><a id="contactLink" href="mailto:mrhuttman@gmail.com">Contact</a></li>
</ul>

<hr style="margin-top:0px;" />

<!-- GA tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104784599-1', 'auto');
  ga('send', 'pageview');
</script>
