<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Mike Huttman Official Site - Web Design & DJ Services</title>

    <!-- CSS Includes -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Font.css" rel="stylesheet" />

    <script type="text/javascript" language="JavaScript">

        // PRELOADING IMAGES
        if (document.images) 
        {

            img1_on = new Image(); img1_on.src = "Images/WebDevPanel3.jpg";
            img1_off = new Image(); img1_off.src = "Images/MainPanelTL.jpg"; //WebDevPanel2

            img2_on = new Image(); img2_on.src = "Images/ProgrammingPanel3.jpg";
            img2_off = new Image(); img2_off.src = "Images/MainPanelTR.jpg"; //ProgrammingPanel2b

            img3_on = new Image(); img3_on.src = "Images/AudioPanel.jpg";
            img3_off = new Image(); img3_off.src = "Images/MainPanelBL.jpg"; //DJPanel2a           

            img4_on = new Image(); img4_on.src = "Images/ContactPanel3.jpg";
            img4_off = new Image(); img4_off.src = "Images/MainPanelBR.jpg"; //ContactPanel2a
           
        }

        function movr(k) {
            if (document.images)
                eval('document.img' + k + '.src=img' + k + '_on.src');
        }

        function mout(k) {
            if (document.images)
                eval('document.img' + k + '.src=img' + k + '_off.src');
        }

        function handleOver() {
            if (document.images)
                document.imgName.src = img_on.src;
        }

        function handleOut() {
            if (document.images)
                document.imgName.src = img_off.src;
        }


</script>

</head>

<body>
    <form id="form1" runat="server">

     <asp:Panel ID="main" runat="server">

           <!-- Top navigation goes here -->
           <Nav:TopNav runat='server' ID='TopNavigation1'/>

           <!-- Main navigation goes here -->
           <div style="padding:0px;">
           
           <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
             <td>
              <a href="WebDev.aspx" 
              onMouseOver="movr(1);return true;"
              onMouseOut="mout(1);return true;">
              <img name="img1" src="Images/MainPanelTL.jpg" border="0" alt="DJ"/></a>
             </td>
              <td>
              <a href="Programming.aspx" 
              onMouseOver="movr(2);return true;"
              onMouseOut="mout(2);return true;">
              <img name="img2" src="Images/MainPanelTR.jpg" border="0" alt="Programmer"/></a>
              </td> 
            </tr>

            <tr>
             <td>
              <a href="DJ.aspx" 
              onMouseOver="movr(3);return true;"
              onMouseOut="mout(3);return true;">
              <img name="img3" src="Images/MainPanelBL.jpg" border="0" alt="Web Dev"/></a>
             </td>
             <td>
              <a href="Contact.aspx" 
              onMouseOver="movr(4);return true;"
              onMouseOut="mout(4);return true;">
              <img name="img4" src="Images/MainPanelBR.jpg" border="0" alt="Contact"/></a>
             </td>
            </tr>
           
           </table>

           </div>

        </div> <!-- end main-content_Default -->



     </asp:Panel>
    
    </form>
</body>
</html>